body {
  font-family: Arial, ;
  background-color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  margin: 0;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  max-width: 300px; 
}

.product-card img {
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
align-items:flex-start;
  
}

.details {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin: 0;
}

.description {
  margin: 1rem ;
}

.price {

  font-size: 1.5rem;
}

.purchase {
  display: inline-block;
  margin-top: 25px;
  background-color: sandybrown;
  color: #fff;
  padding: 1rem 5rem;
  text-decoration: none;
  border-radius: 5rem;
}

